.weather-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding:33px;
  display: flex;
  transition: 300ms ease-in-out;
  user-select: none;
  border: 1px solid #e4e4e7;
}

.weather-card:hover {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 4px rgba(var(--primary-rgb), 0.3);
 }

.weather-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weather-card-header h1{
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1px;
}

.weather-card-header h2{
  font-size: 3em;
  font-weight: 300;
  line-height: 1px;
}

.weather-card-header h3{
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1px;
}

.weather-card-body {
  display: flex;
  justify-content: flex-start;
}

.column {
  display: flex;
}

.weather-icon {
  width: 150px;
  height: 150px;
  filter: drop-shadow(rgba(0, 0, 0, 0.35) 2px 2px 2px);
}
.temperature {
  display: flex;
  flex-direction: column;
  line-height: 0;

}

.details p {
  margin: 5px 0;
}

.details {
  justify-content: space-between;
  display: flex;
  gap: 25px;
}


.item{
  display: flex;
  color:black;
  align-items:center;
  gap: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items:start;
  line-height: 10px;
  margin: 5px;
  font-weight: 400;
  font-size: 0.8em;
  color: black;
  width: 100%;
}

.info-icon p {
  color:black;
  font-size: 15px;
}

.info-icon svg{
  width: 30px;
  color:var(--primary)
}

.tube{
  position: relative;
  width: 100%;
  display: flex;
  height: 20px;
  border-radius: 150px;
  border: 1px solid #e4e4e7;
  margin-top: 15px;

}

.line{
  position: absolute;
  width: 2px;
  height: 30px;
  background-color:#e4e4e7;
  top: -5px;
  z-index: 20;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 1s ease-in-out;
}

.line .valor{
position: absolute;
top: -17px;
left: -8px;
font-size: 10px;
color: gray;
}

.tube .indicator{
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  color: white;
  font-size: 8px;
}

.good {
  background-color:#339900;
  border-radius: 25px 0px 0px 25px;
}


.fair{
  background-color:#99cc33;
}
.moderate{
background-color:#ffcc00;
}
.poor{
background-color:	#ff9966;
}
.very-poor{
  background-color: #cc3300;
  border-radius: 0px 25px 25px 0px;

}