body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

.app {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(224, 71.4%, 4.1%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(224, 71.4%, 4.1%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(224, 71.4%, 4.1%);
  --primary: hsl(262, 83%, 58%);
  --primary-rgb: 124, 58, 237; /* Substitua esses valores pelos valores RGB correspondentes à cor primária */
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(220, 14.3%, 95.9%);
  --secondary-foreground: hsl(220.9, 39.3%, 11%);
  --muted: hsl(220, 14.3%, 95.9%);
  --muted-foreground: hsl(220, 8.9%, 46.1%);
  --accent: hsl(220, 14.3%, 95.9%);
  --accent-foreground: hsl(220.9, 39.3%, 11%);
  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(210, 20%, 98%);
  --border: hsl(220, 13%, 91%);
  --input: hsl(220, 13%, 91%);
  --ring: hsl(262.1, 83.3%, 57.8%);
  --radius: 0.5rem;
}

html[data-theme='dark'] {
  --background: hsl(224, 71.4%, 4.1%);
  --foreground: hsl(210, 20%, 98%);
  --card: hsl(224, 71.4%, 4.1%);
  --card-foreground: hsl(210, 20%, 98%);
  --popover: hsl(224, 71.4%, 4.1%);
  --popover-foreground: hsl(210, 20%, 98%);
  --primary: hsl(263, 70%, 50%);
  --primary-rgb: 109, 40, 217;
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(215, 27.9%, 16.9%);
  --secondary-foreground: hsl(210, 20%, 98%);
  --muted: hsl(215, 27.9%, 16.9%);
  --muted-foreground: hsl(217.9, 10.6%, 64.9%);
  --accent: hsl(215, 27.9%, 16.9%);
  --accent-foreground: hsl(210, 20%, 98%);
  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(210, 20%, 98%);
  --border: hsl(215, 27.9%, 16.9%);
  --input: hsl(215, 27.9%, 16.9%);
  --ring: hsl(263.4, 70%, 50.4%);
}

html[data-theme='orange'] {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(20, 14.3%, 4.1%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(20, 14.3%, 4.1%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(20, 14.3%, 4.1%);
  --primary: rgb(249, 115, 22);
  --primary-rgb: 249, 115, 22;
  --primary-foreground: hsl(60, 9.1%, 97.8%);
  --secondary: hsl(60, 4.8%, 95.9%);
  --secondary-foreground: hsl(24, 9.8%, 10%);
  --muted: hsl(60, 4.8%, 95.9%);
  --muted-foreground: hsl(25, 5.3%, 44.7%);
  --accent: hsl(60, 4.8%, 95.9%);
  --accent-foreground: hsl(24, 9.8%, 10%);
  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(60, 9.1%, 97.8%);
  --border: hsl(20, 5.9%, 90%);
  --input: hsl(20, 5.9%, 90%);
  --ring: hsl(24.6, 95%, 53.1%);
  --radius: 0.5rem;
}
html[data-theme='dark-orange'] {
  --background: hsl(224, 71.4%, 4.1%);
  --foreground: hsl(210, 20%, 98%);
  --card: hsl(224, 71.4%, 4.1%);
  --card-foreground: hsl(210, 20%, 98%);
  --popover: hsl(224, 71.4%, 4.1%);
  --popover-foreground: hsl(210, 20%, 98%);
  --primary: hsl(24.6, 95%, 53.1%);
  --primary-rgb: 109, 40, 217;
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(215, 27.9%, 16.9%);
  --secondary-foreground: hsl(210, 20%, 98%);
  --muted: hsl(215, 27.9%, 16.9%);
  --muted-foreground: hsl(217.9, 10.6%, 64.9%);
  --accent: hsl(215, 27.9%, 16.9%);
  --accent-foreground: hsl(210, 20%, 98%);
  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(210, 20%, 98%);
  --border: hsl(215, 27.9%, 16.9%);
  --input: hsl(215, 27.9%, 16.9%);
  --ring: hsl(24.6, 95%, 53.1%);
}


html[data-theme='green'] {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(240, 10%, 3.9%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(240, 10%, 3.9%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(240, 10%, 3.9%);
  --primary: hsl(142, 76%, 36%);
  --primary-rgb: 22, 163, 74;
  --primary-foreground: hsl(355.7, 100%, 97.3%);
  --secondary: hsl(240, 4.8%, 95.9%);
  --secondary-foreground: hsl(240, 5.9%, 10%);
  --muted: hsl(240, 4.8%, 95.9%);
  --muted-foreground: hsl(240, 3.8%, 46.1%);
  --accent: hsl(240, 4.8%, 95.9%);
  --accent-foreground: hsl(240, 5.9%, 10%);
  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(0, 0%, 98%);
  --border: hsl(240, 5.9%, 90%);
  --input: hsl(240, 5.9%, 90%);
  --ring: hsl(142.1, 76.2%, 36.3%);
  --radius: 0.5rem;
}
html[data-theme='dark-green'] {
  --background: hsl(224, 71.4%, 4.1%);
  --foreground: hsl(210, 20%, 98%);
  --card: hsl(224, 71.4%, 4.1%);
  --card-foreground: hsl(210, 20%, 98%);
  --popover: hsl(224, 71.4%, 4.1%);
  --popover-foreground: hsl(210, 20%, 98%);
  --primary: hsl(142.1, 76.2%, 36.3%);
  --primary-rgb: 109, 40, 217;
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(215, 27.9%, 16.9%);
  --secondary-foreground: hsl(210, 20%, 98%);
  --muted: hsl(215, 27.9%, 16.9%);
  --muted-foreground: hsl(217.9, 10.6%, 64.9%);
  --accent: hsl(215, 27.9%, 16.9%);
  --accent-foreground: hsl(210, 20%, 98%);
  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(210, 20%, 98%);
  --border: hsl(215, 27.9%, 16.9%);
  --input: hsl(215, 27.9%, 16.9%);
  --ring: hsl(142.1, 76.2%, 36.3%);
}